*{
	padding: 0;
	margin: 0;
}
.container{
	margin: 0 auto;
	width: 1020px;
	height: auto;
	background: gray;
}
.container .head{
	width: 100%;
	height: 70px;
	background: #070709;
}
.head .logo{
	float: left;
	width: 17%;
	height: 100%;
}
.logo img{
	width: 100%;
	height: 100%;
}
.head .menu{
	float: right;
	width: 75%;
	height: 100%;
	text-align: center;
}
.menu ul{
	width: 100%;
	height: 100%;
}
.menu ul li{
	float: left;
	width: auto;
	height: 100%;
	list-style: none;
	margin-left: 1%;
	margin-right: 1%;
}
.menu ul li a{
	font-size: 16px;
	line-height: 70px;
	text-decoration: none;
	color: gray;
}
.menu ul li a:hover{
	color: #14574F;
}
.container .Content1{
	width: 100%;
	height: 400px;
	background-image: url(http://chothuexedulichtphcm.com/upload/news/20180123222700602.jpg);	
}
.Content1 h1{
	display: block;
	text-align: center;
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 100px 0 30px 0;
}
.Content1 p{
	display: block;
	text-align: center;
	font-weight: bold;
	color: white;
	margin: 0;
	padding: 0 0 20px 0;
}
.Content1 a{
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 50px;
	background: #d1673a;
	color: white;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	text-decoration: none;
	border-radius: 10%;
}
.Content1 a:hover{
	color: red;
}
.container .Content2{
	width: 100%;
	height: 400px;
	background: white;
}
.Content2 .diff99{
	float: left;
	width: 4%;
	height: 100%;
}
.Content2 .box99{
	width: 20%;
	height: auto;
	float: left;
}
.box99 .pic99{
	margin-top: 20px;
	border-radius: 999px;
	width: 100%;
	height: 150px;
}
.pic99 img{
	width: 100%;
	height: 100%;
	border-radius: 999px;
	margin: 0 auto;
}
.box99 .title99{
	width: 100%;
	height: auto;
}
.title99 h3{
	color: black;
	text-align: center;
	font-weight: bold;
	margin: 0;
	display: block;
	padding: 10px 0 10px 0;
}
.title99 p{
	display: block;
	color: black;
	text-align: center;
	font-weight: bold;
	margin: 0;
}
.title99 p a{
	color: #3ad8c8;
	text-decoration: none;
}
.title99 p a:hover{
	color: red;
}
.container .article1{
	clear: both;
	margin: 0 auto;
	width:100%;
	height:400px;
	background: #DCDCDC;
}
.article1 .Titles1{
	margin: 0 auto;
	width: 84%;
	height: 60px;
	/*background: gray;*/
}
.article1 .Titles1 h2{
	display: block;
	float: left;
	width: auto;
	height: 50px;
	/*background: red;*/
	line-height: 60px;
	font-size: 26px;
	color: orange;
	text-align: center;
	text-transform: capitalize;
}
.article1 .Titles1 a{
	display: block;
	float: right;
	margin-top: 10px;
	width: 120px;
	height: 40px;
	background: blue;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 18px;
	color: white;
	border-radius: 8px;
}
.article1 .Titles1 a:hover{
	color: red;
	background: black;
}
.article1 .purport{
	margin: 0 auto;
	width: 84%;
	height: 300px;
/*	background: green;*/
	margin-top: 30px;
}
.purport .pox1{
	float: left;
	width: 30%;
	height: 100%;
	/*background: violet;*/
}
.diffs1{
	margin-right: 5%;
	margin-left: 5%;
}
.pox1 .Pics{
	width: 100%;
	height: 180px;
	background: white;
}
.pox1 .Pics a{
	display: block;
	width: 100%;
	height: 100%;
}
.pox1 .Pics a img{
	width: 95%;
	height: 90%;
	padding-left: 2.5%;
	padding-top: 4%;
}
.pox1 h3{
	display: block;
	width: 100%;
	height: 40px;
	/*background: blue;*/
	text-transform: capitalize;
	color: orange;
	line-height: 40px;
}
.pox1 p{
	display: block;
	width: 100%;
	height: auto;
	/*background: red;*/
	text-align: left;
	line-height: 20px;
	font-size: 16px;
	color: #20B2AA;
}
.container .article2{
	clear: both;
	margin: 0 auto;
	width: 100%;
	height: 320px;
	background:white;
}
.article2 .article2-top{
	width: 100%;
	height: 40%;
	/*background: blue;*/
}
.article2-top h1{
	display: block;
	width: 300px;
	height: 70px;
	/*background: violet;*/
	margin: 0 auto;
	line-height: 70px;
	color: blue;
	text-transform: uppercase;
	text-align: center;
}
.article2-top p{
	display: block;
	width: 60%;
	height: auto;
	/*background: yellow;*/
	margin: 0 auto;
	text-align: center;
	line-height: 20px;
	font-size: 18px;
}
.article2 .article2-bot{
	color: both;
	width: 100%;
	height: 60%;
	/*background: green;*/
}
.article2-bot .pox2{
	float: left;
	width: 20%;
	height: 100%;
	/*background: violet;*/
	margin-left: 4%;
}
.pox2 h3{
	display: block;
	width: 100%;
	height: 40px;
	/*background: pink;*/
	text-align: left;
	color: blue;
	text-transform:capitalize;
	font-size: 20px;
	line-height: 40px;
}
.pox2 p{
	display: block;
	width: 100%;
	height: auto;
	/*background: red;*/
	text-align: left;
	line-height: 20px;
}
.pox2 a{
	display: block;
	float: right;
	width: 70px;
	height: 30px;
	background: blue;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	border-radius: 8px;
	font-size: 18px;
	margin-top: 10px;
}
.pox2 a:hover{
	color: #00FF00;
	background: #00FFFF;
}
.article2-bot .pox3{
	float: left;
	width: 20%;
	height: 100%;
/*	background: violet;*/
	margin-left: 4%;
}
.pox3 h3{
	display: block;
	width: 100%;
	height: 40px;
	/*background: pink;*/
	text-align: left;
	color: blue;
	text-transform:capitalize;
	font-size: 20px;
	line-height: 40px;
}
.pox3 p{
	display: block;
	width: 100%;
	height: auto;
	/*background: red;*/
	text-align: left;
	line-height: 20px;
}
.pox3 a{
	text-decoration: none;
	color: blue;
	font-size: 18px;
}
.pox3 a:hover{
	color: green;
}
.container .Contentn{
	margin: 0 auto;
	width: 84%;
	height: 300px;
	border-bottom: 1px solid white;
	background: gray;
}
.container .Contentn .Twit {
	float: left;
	width: 24%;
	height: 100%;
}
.container .Contentn .Twit .cont{
	width: 100%;
	height: 80px;
/* 	background: green; */
	border-bottom: 1px solid white;
}
.container .Contentn h3{
	text-transform: uppercase;
	color: #ed7710;
	padding-top: 20px;
	padding-bottom: 15px;
}
.container .Contentn .cont a{
	text-decoration: none;
}
.container .Contentn .new{
	float: left;
	width: 24%;
	height: 100%;
	margin-left: 1.5%;
}
.container .Contentn .new .cont{
	float: left;
	width: 100%;
	height: 80px;
	/* background: green; */
	border-bottom: 1px solid white;	
	margin-bottom: 15px;
}
.container .Contentn .new p.i{
	padding: 10px;
	font-size: 15px;
	color: blue;
}
.container .Contentn .new .email{
	width: 98%;
	height: 30px;
	margin: 0 auto;
	border-radius: 5px;
	background: white;
}
.container .Contentn .new a{
	display: block;
	width: 60px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: red;
	text-decoration: none;
	color: black;
	margin-left: 65%;
	margin-top: 10px;
}
.container .Contentn .rec{
	float: left;
	width: 24%;
	height: 100%;
	margin-left: 5px;
}
.container .Contentn .rec .cont{	
	height: 80px;
	width: 100%;
	border-bottom: 1px solid white;
	margin-left: 3%;
}
.Contentn .rec .cont .co{
	float: left;
	height:60px;
	width: 29%;
	margin-top: 10px;
	background: white;
	margin-right: 2%;
}
.rec .cont .titles{
	margin-top: 10px;
	float: left;
	width: 69%;
	height: 50px;
}
.rec .cont .titles p{
	padding:0px 0 5px 0;
}
.container .Contentn .contacts {
	float: left;
	width: 24%;
	height: 100%;
	margin-left: 1%;
}
.Contentn .contacts .cont{
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.Contentn .contacts .cont .img{
	float: left;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.Contentn .contacts .cont .con{
	float: left;;
	width: 150px;
	height: 40px;
}





